In [ ]:
# Upload data from Google Drive
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
#check files under this path
import os

path = "/content/drive/My Drive/Colab Notebooks/nlu_task/"

os.chdir(path)
os.listdir(path)

['dev.json',
 'train.json',
 'behappy.ipynb',
 'small_nlu_project.ipynb',
 'train_iob.json',
 'train_small.json',
 'train_small_ATP.json',
 'train_small_GW.json',
 'dev_small.json',
 'data_preprocessing.ipynb',
 'dev_pred.json',
 'dev_final.json',
 'test.json',
 'nlu_project_dev.ipynb',
 'nlu_project_test.ipynb',
 'dev_pred_e10.json',
 'dev_final_e10.json',
 'test_pred_e5.json',
 'test_pred_e15.json',
 'test_final_e5.json',
 'test_final_e15.json']

In [ ]:
import pandas as pd
import numpy as np
import json
df = pd.read_json(path+'test_pred_e15.json')
df

                                                   text  ...                                          pred_tags
0     I'm looking for a local cafeteria that has wif...  ...  [O, O, O, O, B_BR_restaurant_type, O, O, O, B_...
1     Add As I Was Going to St Ives to the fantasía ...  ...  [O, B_ATP_entity_name, I_ATP_entity_name, I_AT...
2               book for one in Indiana at a restaurant  ...  [O, O, B_BR_party_size_number, O, B_BR_state, ...
3                  put this album on my conexiones list  ...  [O, O, B_ATP_music_item, O, B_ATP_playlist_own...
4                              Add this track to Duetos  ...  [O, O, B_ATP_music_item, O, B_ATP_playlist, O,...
...                                                 ...  ...                                                ...
1434  Find the schedule for Better This World at a m...  ...  [O, O, B_SSE_object_type, O, B_SSE_movie_name,...
1435      What movies are playing at the nearest cinema  ...  [O, B_SSE_movie_type, O, O, O, O, B_SSE_spatia...
1436    Is A Tree Grows in Brooklyn playing in one hour  ...  [O, B_SSE_movie_name, I_SSE_movie_name, I_SSE_...
1437             what film to see at ArcLight Hollywood  ...  [O, B_SSE_movie_type, O, O, O, B_SSE_location_...
1438  Find the schedule for for Corn at eleven A.M. ...  ...  [O, O, B_SSE_object_type, O, B_SSE_movie_name,...

[1439 rows x 3 columns]

In [ ]:
#back-process the data into slot!
print(df["text"].iloc[0])
print(len(df["text"].iloc[0].split()))
print(len(df["pred_tags"].iloc[0]))
print(df["pred_tags"].iloc[0][:8]) #num of length

I'm looking for a local cafeteria that has wifi accesss for a party of 4
15
116
['O', 'O', 'O', 'O', 'B_BR_restaurant_type', 'O', 'O', 'O']

In [ ]:
#add new sent_length column
sent_len = [] #len = 2887
for sent in df["text"]:
  #print(sent)
  sent_len.append(len(sent.split()))
print(sent_len)
df["sent_length"] = sent_len
df

[15, 12, 8, 7, 5, 8, 10, 13, 7, 6, 6, 10, 9, 11, 8, 9, 8, 8, 10, 14, 8, 7, 10, 9, 10, 9, 9, 7, 11, 6, 11, 8, 9, 8, 7, 7, 8, 9, 11, 7, 12, 10, 13, 8, 8, 13, 10, 5, 7, 13, 11, 11, 8, 7, 10, 7, 7, 6, 6, 7, 10, 7, 11, 15, 14, 10, 13, 10, 15, 10, 8, 21, 10, 14, 9, 8, 12, 14, 13, 8, 7, 9, 8, 8, 7, 7, 9, 11, 6, 12, 15, 15, 17, 8, 10, 10, 7, 9, 13, 11, 14, 17, 13, 12, 10, 7, 14, 15, 9, 11, 21, 18, 9, 6, 10, 14, 13, 13, 12, 8, 17, 11, 8, 8, 13, 9, 4, 7, 11, 12, 8, 8, 11, 9, 14, 11, 19, 16, 7, 9, 13, 8, 11, 6, 10, 16, 12, 16, 16, 10, 15, 7, 7, 9, 12, 11, 8, 12, 18, 8, 12, 8, 8, 8, 8, 7, 13, 5, 8, 10, 8, 8, 11, 13, 8, 6, 5, 11, 10, 13, 8, 18, 15, 8, 8, 8, 13, 8, 10, 15, 13, 14, 9, 9, 10, 10, 8, 7, 9, 10, 9, 12, 12, 6, 9, 6, 8, 9, 14, 11, 8, 5, 11, 16, 10, 9, 8, 7, 10, 14, 12, 16, 20, 8, 11, 9, 16, 11, 7, 7, 15, 11, 11, 16, 14, 16, 14, 15, 10, 7, 18, 8, 15, 6, 7, 9, 10, 9, 8, 14, 8, 11, 6, 11, 9, 8, 6, 15, 10, 13, 11, 7, 16, 8, 9, 16, 11, 12, 6, 12, 13, 7, 11, 13, 16, 8, 6, 8, 8, 14, 7, 7, 10, 8, 11, 8, 12, 8, 8, 10, 8, 6, 14, 16, 16, 7, 10, 9, 12, 8, 10, 23, 9, 15, 8, 12, 11, 13, 9, 15, 15, 10, 11, 9, 12, 15, 10, 9, 12, 7, 9, 10, 9, 8, 8, 11, 8, 10, 10, 8, 10, 15, 10, 9, 14, 11, 11, 14, 16, 11, 8, 8, 14, 10, 11, 7, 6, 18, 8, 6, 9, 14, 10, 11, 7, 8, 14, 12, 16, 10, 10, 15, 15, 6, 7, 20, 7, 7, 13, 9, 6, 11, 11, 8, 10, 7, 13, 8, 13, 14, 8, 15, 13, 11, 15, 8, 13, 12, 11, 6, 11, 15, 8, 12, 9, 8, 9, 8, 10, 15, 6, 17, 16, 16, 11, 8, 10, 13, 9, 6, 7, 12, 5, 11, 12, 8, 9, 13, 7, 9, 6, 5, 9, 10, 9, 5, 7, 15, 5, 8, 15, 12, 10, 6, 13, 11, 6, 15, 14, 11, 10, 8, 9, 7, 10, 14, 14, 7, 12, 17, 8, 12, 11, 8, 11, 4, 13, 9, 10, 13, 7, 5, 11, 11, 11, 8, 9, 8, 7, 9, 12, 14, 13, 4, 6, 8, 7, 15, 7, 8, 9, 8, 6, 13, 7, 7, 6, 11, 7, 13, 12, 13, 8, 10, 12, 10, 16, 12, 9, 7, 10, 12, 5, 14, 6, 9, 11, 13, 9, 10, 7, 7, 9, 6, 8, 7, 5, 13, 6, 6, 13, 9, 8, 10, 9, 8, 7, 8, 5, 11, 5, 8, 18, 6, 9, 13, 10, 9, 13, 7, 9, 8, 8, 12, 7, 7, 8, 10, 9, 12, 12, 8, 9, 7, 7, 6, 9, 5, 12, 9, 13, 7, 9, 5, 5, 7, 9, 5, 6, 9, 10, 10, 8, 10, 5, 9, 9, 12, 7, 15, 7, 11, 10, 7, 7, 14, 9, 6, 10, 11, 7, 9, 9, 17, 13, 9, 11, 10, 14, 9, 8, 12, 8, 4, 12, 7, 11, 4, 10, 6, 10, 10, 11, 10, 11, 11, 10, 6, 12, 5, 7, 4, 6, 4, 6, 10, 7, 7, 7, 8, 9, 5, 4, 6, 5, 13, 8, 5, 6, 6, 6, 11, 7, 6, 9, 5, 7, 5, 5, 5, 4, 6, 9, 6, 7, 4, 6, 9, 13, 4, 5, 5, 9, 7, 5, 4, 5, 7, 7, 3, 6, 14, 4, 9, 12, 3, 8, 10, 7, 8, 11, 9, 6, 8, 5, 8, 8, 9, 5, 8, 4, 10, 4, 8, 9, 5, 4, 6, 5, 3, 2, 4, 7, 10, 8, 5, 9, 11, 6, 6, 6, 7, 8, 5, 4, 11, 7, 8, 9, 5, 5, 7, 5, 10, 6, 6, 8, 10, 3, 5, 6, 9, 6, 7, 7, 7, 7, 12, 8, 7, 6, 6, 9, 6, 4, 8, 5, 4, 11, 4, 7, 6, 5, 8, 4, 12, 12, 11, 10, 7, 8, 9, 10, 4, 9, 6, 5, 7, 5, 4, 9, 12, 5, 10, 6, 6, 10, 8, 7, 10, 13, 6, 4, 7, 8, 9, 14, 9, 5, 5, 6, 7, 6, 4, 12, 11, 7, 4, 6, 7, 4, 6, 6, 7, 11, 7, 5, 4, 7, 5, 5, 2, 4, 11, 11, 5, 8, 5, 8, 7, 11, 6, 6, 7, 4, 6, 6, 11, 7, 8, 7, 7, 8, 9, 8, 7, 6, 8, 6, 10, 8, 6, 5, 9, 10, 6, 10, 9, 8, 8, 8, 10, 12, 10, 9, 8, 9, 13, 10, 7, 6, 10, 6, 17, 7, 5, 8, 9, 15, 13, 8, 5, 7, 8, 7, 9, 12, 8, 10, 5, 8, 12, 12, 16, 7, 8, 8, 8, 8, 10, 8, 7, 9, 8, 5, 9, 6, 8, 7, 12, 9, 5, 12, 5, 9, 7, 6, 9, 7, 12, 6, 7, 8, 12, 9, 9, 5, 8, 8, 9, 17, 9, 10, 13, 16, 7, 8, 6, 10, 14, 10, 8, 8, 14, 9, 12, 5, 9, 6, 6, 9, 9, 7, 7, 8, 7, 11, 5, 9, 9, 9, 13, 9, 5, 6, 8, 7, 8, 9, 12, 6, 10, 7, 10, 13, 6, 6, 11, 9, 15, 5, 7, 11, 9, 7, 6, 6, 7, 13, 12, 11, 14, 8, 5, 15, 10, 20, 8, 7, 10, 19, 9, 7, 8, 7, 9, 9, 5, 12, 12, 11, 10, 12, 8, 5, 10, 6, 10, 10, 8, 10, 6, 6, 6, 8, 10, 7, 9, 6, 9, 6, 8, 6, 8, 5, 8, 11, 6, 11, 8, 5, 8, 8, 9, 9, 10, 7, 4, 8, 8, 7, 13, 9, 6, 6, 4, 4, 7, 7, 7, 4, 10, 7, 7, 4, 8, 6, 12, 7, 6, 10, 8, 8, 13, 7, 8, 5, 6, 7, 5, 6, 9, 7, 8, 5, 12, 8, 8, 7, 6, 7, 8, 6, 11, 5, 6, 6, 13, 14, 6, 12, 11, 7, 9, 10, 6, 7, 8, 11, 6, 4, 8, 6, 4, 7, 6, 9, 8, 5, 9, 8, 5, 8, 8, 8, 16, 7, 8, 5, 7, 7, 10, 7, 9, 9, 7, 3, 7, 10, 7, 9, 24, 8, 6, 8, 6, 3, 8, 8, 7, 9, 8, 7, 11, 7, 8, 8, 9, 8, 5, 10, 6, 3, 10, 5, 6, 7, 7, 9, 7, 10, 6, 5, 10, 7, 9, 11, 10, 7, 14, 8, 7, 13, 10, 15, 9, 5, 7, 7, 7, 10, 9, 7, 3, 12, 8, 8, 9, 9, 5, 3, 6, 6, 6, 4, 10, 7, 10, 5, 9, 7, 4, 10, 9, 7, 11, 3, 7, 8, 14, 6, 10, 8, 9, 5, 9, 9, 8, 7, 10, 8, 9, 6, 10, 6, 7, 9, 10, 16, 8, 11, 9, 9, 6, 8, 5, 5, 8, 9, 10, 9, 11, 9, 8, 7, 8, 6, 9, 12, 7, 9, 11, 10, 6, 4, 7, 12, 9, 8, 11, 9, 9, 8, 8, 7, 9, 9, 8, 4, 10, 11, 10, 10, 8, 12, 13, 3, 6, 12, 10, 10, 8, 8, 10, 7, 10, 9, 12, 9, 8, 9, 8, 8, 5, 4, 9, 10, 8, 11, 10, 8, 15, 10, 11, 6, 9, 7, 10, 11, 11, 5, 8, 17, 11, 10, 9, 10, 11, 8, 6, 9, 9, 7, 14, 6, 7, 9, 12, 6, 4, 5, 13, 12, 10, 11, 7, 13, 6, 10, 12, 10, 14, 9, 13, 16, 9, 8, 7, 4, 9, 18, 8, 9, 4, 5, 10, 6, 6, 7, 12, 7, 4, 16, 7, 9, 3, 6, 6, 13, 9, 8, 10, 7, 14, 8, 11, 9, 7, 12, 7, 8, 11, 12, 13, 7, 9, 8, 12, 9, 7, 10, 7, 9, 7, 8, 7, 9, 7, 5, 9, 8, 8, 7, 9, 12, 12, 7, 7, 5, 9, 10, 4, 6, 13, 11, 5, 10, 6, 11, 8, 4, 9, 6, 14, 9, 9, 10, 8, 8, 14, 7, 8, 11, 6, 11, 8, 10, 7, 13]

                                                   text  ... sent_length
0     I'm looking for a local cafeteria that has wif...  ...          15
1     Add As I Was Going to St Ives to the fantasía ...  ...          12
2               book for one in Indiana at a restaurant  ...           8
3                  put this album on my conexiones list  ...           7
4                              Add this track to Duetos  ...           5
...                                                 ...  ...         ...
1434  Find the schedule for Better This World at a m...  ...          11
1435      What movies are playing at the nearest cinema  ...           8
1436    Is A Tree Grows in Brooklyn playing in one hour  ...          10
1437             what film to see at ArcLight Hollywood  ...           7
1438  Find the schedule for for Corn at eleven A.M. ...  ...          13

[1439 rows x 4 columns]

In [ ]:
#clean pred_tag into correct sentence length
#df["pred_tags"].iloc[0][:8]

i = 0
for num in sent_len:
  df["pred_tags"].iloc[i] = df["pred_tags"].iloc[i][:int(num)]
  i += 1

df

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                                                   text  ... sent_length
0     I'm looking for a local cafeteria that has wif...  ...          15
1     Add As I Was Going to St Ives to the fantasía ...  ...          12
2               book for one in Indiana at a restaurant  ...           8
3                  put this album on my conexiones list  ...           7
4                              Add this track to Duetos  ...           5
...                                                 ...  ...         ...
1434  Find the schedule for Better This World at a m...  ...          11
1435      What movies are playing at the nearest cinema  ...           8
1436    Is A Tree Grows in Brooklyn playing in one hour  ...          10
1437             what film to see at ArcLight Hollywood  ...           7
1438  Find the schedule for for Corn at eleven A.M. ...  ...          13

[1439 rows x 4 columns]

In [ ]:
# add intent list 
df_in = pd.read_json(path+'test_pred_e5.json')
#df_in = df
tags_for_intent = []
#delete "O"
for tag in df_in["pred_tags"]:
  tag = list(set(tag))
  if "O" in tag and len(tag) > 1:
    tag.remove("O")
  tags_for_intent.append(tag)
df_in["pred_tags"] = tags_for_intent

#create intent
intent = []
#['AddToPlaylist', 'BookRestaurant', 'GetWeather', 'PlayMusic', 'RateBook', 'SearchCreativeWork', 'SearchScreeningEvent']

for i in range(1439):
  #print(i)
  #print(df["pred_tags"].iloc[i])
  #print(df["pred_tags"].iloc[i][0])
  if "ATP" in df_in["pred_tags"].iloc[i][0]:
    intent.append("AddToPlaylist")
  if "BR" in df_in["pred_tags"].iloc[i][0]:
    intent.append("BookRestaurant")
  if "GW" in df_in["pred_tags"].iloc[i][0]:
    intent.append("GetWeather")
  if "PM" in df_in["pred_tags"].iloc[i][0]:
    intent.append("PlayMusic")
  if "RB" in df_in["pred_tags"].iloc[i][0]:
    intent.append("RateBook")
  if "SCW" in df_in["pred_tags"].iloc[i][0]:
    intent.append("SearchCreativeWork")
  if "SSE" in df_in["pred_tags"].iloc[i][0]:
    intent.append("SearchScreeningEvent")
  if "O" in df_in["pred_tags"].iloc[i][0]:
    intent.append("AddToPlaylist")

print(len(intent))
df_in["intent"] = intent
df_in

1439

                                                   text  ...                intent
0     I'm looking for a local cafeteria that has wif...  ...        BookRestaurant
1     Add As I Was Going to St Ives to the fantasía ...  ...         AddToPlaylist
2               book for one in Indiana at a restaurant  ...        BookRestaurant
3                  put this album on my conexiones list  ...         AddToPlaylist
4                              Add this track to Duetos  ...         AddToPlaylist
...                                                 ...  ...                   ...
1434  Find the schedule for Better This World at a m...  ...  SearchScreeningEvent
1435      What movies are playing at the nearest cinema  ...  SearchScreeningEvent
1436    Is A Tree Grows in Brooklyn playing in one hour  ...  SearchScreeningEvent
1437             what film to see at ArcLight Hollywood  ...  SearchScreeningEvent
1438  Find the schedule for for Corn at eleven A.M. ...  ...  SearchScreeningEvent

[1439 rows x 4 columns]

In [ ]:
df

                                                   text  ... sent_length
0     I'm looking for a local cafeteria that has wif...  ...          15
1     Add As I Was Going to St Ives to the fantasía ...  ...          12
2               book for one in Indiana at a restaurant  ...           8
3                  put this album on my conexiones list  ...           7
4                              Add this track to Duetos  ...           5
...                                                 ...  ...         ...
1434  Find the schedule for Better This World at a m...  ...          11
1435      What movies are playing at the nearest cinema  ...           8
1436    Is A Tree Grows in Brooklyn playing in one hour  ...          10
1437             what film to see at ArcLight Hollywood  ...           7
1438  Find the schedule for for Corn at eleven A.M. ...  ...          13

[1439 rows x 4 columns]

In [ ]:
#add slot dictionary

ATP_slot_keys = ['music_item', 'playlist_owner', 'playlist', 'entity_name', 'artist']
BR_slot_keys = ['restaurant_type', 'city', 'party_size_number', 'cuisine', 'timeRange', 'state', 'served_dish', 'restaurant_name', 'spatial_relation', 'poi', 'country', 'party_size_description', 'facility', 'sort']
GW_slot_keys = ['country', 'timeRange', 'city', 'state', 'condition_temperature', 'current_location', 'spatial_relation', 'condition_description', 'geographic_poi']
PM_slot_keys = ['music_item', 'album', 'artist', 'track', 'service', 'sort', 'year', 'genre', 'playlist']
RB_slot_keys = ['object_select', 'object_type', 'rating_value', 'rating_unit', 'best_rating', 'object_name', 'object_part_of_series_type']
SCW_slot_keys = ['object_name', 'object_type']
SSE_slot_keys = ['location_name', 'movie_type', 'object_type', 'movie_name', 'spatial_relation', 'object_location_type', 'timeRange']

ATP_slot_dict = {}
for tag in ATP_slot_keys:
  ATP_slot_dict[tag] = ["B_ATP_" + tag, "I_ATP_" + tag]
print("ATP_slot_dict: ", ATP_slot_dict)

BR_slot_dict = {}
for tag in BR_slot_keys:
  BR_slot_dict[tag] = ["B_BR_" + tag, "I_BR_" + tag]
print("BR_slot_dict: ", BR_slot_dict)

GW_slot_dict = {}
for tag in GW_slot_keys:
  GW_slot_dict[tag] = ["B_GW_" + tag, "I_GW_" + tag]
print("GW_slot_dict: ", GW_slot_dict)

PM_slot_dict = {}
for tag in PM_slot_keys:
  PM_slot_dict[tag] = ["B_PM_" + tag, "I_PM_" + tag]
print("PM_slot_dict: ", PM_slot_dict)

RB_slot_dict = {}
for tag in RB_slot_keys:
  RB_slot_dict[tag] = ["B_RB_" + tag, "I_RB_" + tag]
print("RB_slot_dict: ", RB_slot_dict)

SCW_slot_dict = {}
for tag in SCW_slot_keys:
  SCW_slot_dict[tag] = ["B_SCW_" + tag, "I_SCW_" + tag]
print("SCW_slot_dict: ", SCW_slot_dict)

SSE_slot_dict = {}
for tag in SSE_slot_keys:
  SSE_slot_dict[tag] = ["B_SSE_" + tag, "I_SSE_" + tag]
print("SSE_slot_dict: ", SSE_slot_dict)

ATP_slot_dict:  {'music_item': ['B_ATP_music_item', 'I_ATP_music_item'], 'playlist_owner': ['B_ATP_playlist_owner', 'I_ATP_playlist_owner'], 'playlist': ['B_ATP_playlist', 'I_ATP_playlist'], 'entity_name': ['B_ATP_entity_name', 'I_ATP_entity_name'], 'artist': ['B_ATP_artist', 'I_ATP_artist']}
BR_slot_dict:  {'restaurant_type': ['B_BR_restaurant_type', 'I_BR_restaurant_type'], 'city': ['B_BR_city', 'I_BR_city'], 'party_size_number': ['B_BR_party_size_number', 'I_BR_party_size_number'], 'cuisine': ['B_BR_cuisine', 'I_BR_cuisine'], 'timeRange': ['B_BR_timeRange', 'I_BR_timeRange'], 'state': ['B_BR_state', 'I_BR_state'], 'served_dish': ['B_BR_served_dish', 'I_BR_served_dish'], 'restaurant_name': ['B_BR_restaurant_name', 'I_BR_restaurant_name'], 'spatial_relation': ['B_BR_spatial_relation', 'I_BR_spatial_relation'], 'poi': ['B_BR_poi', 'I_BR_poi'], 'country': ['B_BR_country', 'I_BR_country'], 'party_size_description': ['B_BR_party_size_description', 'I_BR_party_size_description'], 'facility': ['B_BR_facility', 'I_BR_facility'], 'sort': ['B_BR_sort', 'I_BR_sort']}
GW_slot_dict:  {'country': ['B_GW_country', 'I_GW_country'], 'timeRange': ['B_GW_timeRange', 'I_GW_timeRange'], 'city': ['B_GW_city', 'I_GW_city'], 'state': ['B_GW_state', 'I_GW_state'], 'condition_temperature': ['B_GW_condition_temperature', 'I_GW_condition_temperature'], 'current_location': ['B_GW_current_location', 'I_GW_current_location'], 'spatial_relation': ['B_GW_spatial_relation', 'I_GW_spatial_relation'], 'condition_description': ['B_GW_condition_description', 'I_GW_condition_description'], 'geographic_poi': ['B_GW_geographic_poi', 'I_GW_geographic_poi']}
PM_slot_dict:  {'music_item': ['B_PM_music_item', 'I_PM_music_item'], 'album': ['B_PM_album', 'I_PM_album'], 'artist': ['B_PM_artist', 'I_PM_artist'], 'track': ['B_PM_track', 'I_PM_track'], 'service': ['B_PM_service', 'I_PM_service'], 'sort': ['B_PM_sort', 'I_PM_sort'], 'year': ['B_PM_year', 'I_PM_year'], 'genre': ['B_PM_genre', 'I_PM_genre'], 'playlist': ['B_PM_playlist', 'I_PM_playlist']}
RB_slot_dict:  {'object_select': ['B_RB_object_select', 'I_RB_object_select'], 'object_type': ['B_RB_object_type', 'I_RB_object_type'], 'rating_value': ['B_RB_rating_value', 'I_RB_rating_value'], 'rating_unit': ['B_RB_rating_unit', 'I_RB_rating_unit'], 'best_rating': ['B_RB_best_rating', 'I_RB_best_rating'], 'object_name': ['B_RB_object_name', 'I_RB_object_name'], 'object_part_of_series_type': ['B_RB_object_part_of_series_type', 'I_RB_object_part_of_series_type']}
SCW_slot_dict:  {'object_name': ['B_SCW_object_name', 'I_SCW_object_name'], 'object_type': ['B_SCW_object_type', 'I_SCW_object_type']}
SSE_slot_dict:  {'location_name': ['B_SSE_location_name', 'I_SSE_location_name'], 'movie_type': ['B_SSE_movie_type', 'I_SSE_movie_type'], 'object_type': ['B_SSE_object_type', 'I_SSE_object_type'], 'movie_name': ['B_SSE_movie_name', 'I_SSE_movie_name'], 'spatial_relation': ['B_SSE_spatial_relation', 'I_SSE_spatial_relation'], 'object_location_type': ['B_SSE_object_location_type', 'I_SSE_object_location_type'], 'timeRange': ['B_SSE_timeRange', 'I_SSE_timeRange']}

In [ ]:
slot = []
slot_dict = {}

for i in range(1439): #2887
  keys = df["pred_tags"].iloc[i]
  values = df["text"].iloc[i].split()
  for j in range(len(keys)):
    #print("keys[j]: ", keys[j]) #'B_ATP_entity_name' etc
    #print("values[j]: ", values[j]) #'changes' etc
    for k, v in ATP_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])
    for k, v in BR_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])
    for k, v in GW_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])
    for k, v in PM_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])
    for k, v in RB_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])
    for k, v in SCW_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])
    for k, v in SSE_slot_dict.items(): #v = ['B_ATP_music_item', 'I_ATP_music_item'] etc
      if (keys[j] in v) and (k not in slot_dict):
        slot_dict[k] = str(values[j])
      if (keys[j] in v) and (k in slot_dict) and (slot_dict[k] != str(values[j])) :
        slot_dict[k] += " " + str(values[j])

  slot.append(slot_dict)
  slot_dict = {}

#print(slot)
print(len(slot))
df["intent"] = df_in["intent"]
df["slots"] = slot
df

1439

                                                   text  ...                                              slots
0     I'm looking for a local cafeteria that has wif...  ...   {'restaurant_type': 'local', 'facility': 'wifi'}
1     Add As I Was Going to St Ives to the fantasía ...  ...  {'entity_name': 'As I Was Going to St Ives', '...
2               book for one in Indiana at a restaurant  ...  {'party_size_number': 'one', 'state': 'Indiana...
3                  put this album on my conexiones list  ...  {'music_item': 'album', 'playlist_owner': 'my'...
4                              Add this track to Duetos  ...      {'music_item': 'track', 'playlist': 'Duetos'}
...                                                 ...  ...                                                ...
1434  Find the schedule for Better This World at a m...  ...  {'object_type': 'schedule', 'movie_name': 'Bet...
1435      What movies are playing at the nearest cinema  ...  {'movie_type': 'movies', 'spatial_relation': '...
1436    Is A Tree Grows in Brooklyn playing in one hour  ...  {'movie_name': 'A Tree Grows in Brooklyn', 'ti...
1437             what film to see at ArcLight Hollywood  ...  {'movie_type': 'film', 'location_name': 'ArcLi...
1438  Find the schedule for for Corn at eleven A.M. ...  ...  {'object_type': 'schedule', 'movie_name': 'for...

[1439 rows x 6 columns]

In [ ]:
#combine everything together
dev_final = df[['text','intent','slots']]
dev_final

                                                   text  ...                                              slots
0     I'm looking for a local cafeteria that has wif...  ...   {'restaurant_type': 'local', 'facility': 'wifi'}
1     Add As I Was Going to St Ives to the fantasía ...  ...  {'entity_name': 'As I Was Going to St Ives', '...
2               book for one in Indiana at a restaurant  ...  {'party_size_number': 'one', 'state': 'Indiana...
3                  put this album on my conexiones list  ...  {'music_item': 'album', 'playlist_owner': 'my'...
4                              Add this track to Duetos  ...      {'music_item': 'track', 'playlist': 'Duetos'}
...                                                 ...  ...                                                ...
1434  Find the schedule for Better This World at a m...  ...  {'object_type': 'schedule', 'movie_name': 'Bet...
1435      What movies are playing at the nearest cinema  ...  {'movie_type': 'movies', 'spatial_relation': '...
1436    Is A Tree Grows in Brooklyn playing in one hour  ...  {'movie_name': 'A Tree Grows in Brooklyn', 'ti...
1437             what film to see at ArcLight Hollywood  ...  {'movie_type': 'film', 'location_name': 'ArcLi...
1438  Find the schedule for for Corn at eleven A.M. ...  ...  {'object_type': 'schedule', 'movie_name': 'for...

[1439 rows x 3 columns]

In [ ]:
upload = dev_final.T
upload.to_json(r'/content/drive/My Drive/Colab Notebooks/nlu_task/test_final_e15.json')